.container {
    padding: 10px 0;
}

.item {
	margin: 0 15px;
    padding-bottom: 2px;
	cursor: pointer;
}

.unavailable {
	text-decoration: line-through;
	opacity: .5;
	cursor: default;
}

.selected {
	border-bottom: 2px solid white;
}