.container {
	display: inline-block;
	position: relative;
	box-sizing: content-box;
	border-radius: 8px;
	border: 2px solid transparent;
}

.container.token {
	border-radius: 50%;
}

.container.small {
	border-radius: 4px;
}

.container.playable {
	cursor: pointer;
	border: 2px solid #00ff00;
}

.container.unavailable {
	opacity: .3;
}

.bg {
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 8px;
}

.small .bg {
	border-radius: 4px;
}

.label {
	position: absolute;
	top: 0;
	left: 5px;
	font-size: 14px;
	color: white;
	background-color: rgba(0, 0, 0, .6);
}

.small .label {
	left: 1px;
	font-size: 10px;
}
