.container {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 300px;
	height: 400px;
	padding: 10px;
	font-size: .8em;
	color: white;
	overflow: auto;
	box-shadow: 0 0 10px rgba(0,0,0,.9), inset 0 0 0 1px rgba(255,255,255,0.1);
	border-radius: 5px;
	background-color: rgba(80, 80, 80, .2);
}

.line {
	margin: 5px 0;
}

.seperator {
	height: 1px;
	background-color: white;
}

.room {
	display: inline-block;
    background-color: red;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 10px;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
}