.container {
	position: relative;
	color: white;
}

.players-area {
	position: absolute;
	left: 0;
	top: 0;
	width: 320px;
	height: 100%;
	background-color: rgba(68, 42, 29, 0.3);
	box-shadow: 3px 0 10px 3px rgba(0, 0, 0, .7);
	overflow: auto;
}

.main-area {
	position: absolute;
	top: 0;
	left: 320px;
	height: 100%;
	overflow: auto;
}

.hands-area {
	position: absolute;
	left: 320px;
	bottom: 0;
	height: 130px;
	text-align: center;
	background-color: rgba(68, 42, 29, 0.3);
	box-shadow: 5px -3px 10px 3px rgba(0,0,0,.7);
}

.log-area {
	height: 100%;
	width: 500px;
	background-color: rgba(68, 42, 29, 0.5);
	box-shadow: -3px 0 10px 1px rgba(0,0,0,.7);
	z-index: 100;
}

.score-area {
	position: absolute;
	left: 40%;
	top: 30%;
	z-index: 99;
}

.menu-section {
	margin: 10px 0;
}

.menu-section .icon {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	margin: 0 5px;
	cursor: pointer;
}

.menu-section .icon img {
	width: 40px;
	height: 40px;
}

.menu-section .icon .active {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}

.menu-section .icon:hover .active {
	display: block;
}

.main-section {
	position: relative;
	width: 1150px;
	margin: 0 auto;
	padding: 0 20px;
}

.board-holder {
	display: inline-block;
	position: relative;
	margin-right: 10px;
}

.board-holder .board-img {
	width: 1000px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

.board-holder .la {
	position: absolute;
	left: 15px;
	bottom: 15px;
}

.la .la-img {
	width: 40px;
	height: 90px;
}

.deck-holder {
	display: inline-block;
	vertical-align: top;
}

.action-section {
	position: fixed;
	left: 320px;
	bottom: 130px;
	text-align: center;
	background-color: rgba(0,0,0,.6);
	z-index: 10;
}

.room {
	position: absolute;
    top: 40%;
    left: 45%;
    width: 25px;
    line-height: 25px;
    font-size: 13px;
    background-color: red;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
}

.room.dark {
	background-color: black;
}

.room.playable {
	background-color: #00ee00;
	cursor: pointer;
}

.corridor {
	position: absolute;
	width: 40px;
	height: 40px;
	border: 2px solid transparent;
	border-radius: 50%;
}

.corridor.playable {
	border: 2px solid #00ee00;
	cursor: pointer;
}

.tool {
	widows: 40px;
	height: 40px;
	border-radius: 50%;
}