.container {
	position: relative;
	color: white;
}

.board {
	position: absolute;
	left: 300px;
	width: 800px;
	height: 450px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

.bg {
	width: 800px;
	height: 450px;
}

.label {
	position: absolute;
	top: 0;
	left: 2px;
	color: white;
	font-size: 12px;
	background-color: rgba(0, 0, 0, .6);
	z-index: 5;
}

.roles-holder {
	position: absolute;
	left: 20px;
}

.player {
	position: absolute;
	margin: 10px;
	padding: 5px;
	width: 200px;
	height: 90px;
	box-shadow: 0 0 10px rgba(0,0,0,0.9), inset 0 0 0 2px rgba(255,255,255,0.1);
	border-radius: 5px;
	background-color: rgba(80, 80, 80, .2);
}

.player.active {
	border: 2px solid #ffa500;
}

.player.opponent {
	top: 0;
	left: 0;
}

.player.myself {
	left: 0;
	bottom: 0;
}

.player .name {
	font-weight: bold;
}

.player .identity {
	font-size: .8em;
}

.player .phantom-holder {
	position: absolute;
	right: 0;
	top: 3px;
}

.room-id {
	position: absolute;
    top: 30%;
    left: 45%;
    width: 25px;
    line-height: 25px;
    font-size: 10px;
    background-color: red;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    z-index: 1;
}


