.card {
	display: inline-block;
	position: relative;
	width: 90px;
	height: 126px;
	margin: 0 2px;
	border-radius: 8px;
}

.card.playable {
	/*box-shadow: 0 0 10px rgb(60, 179, 113);*/
	cursor: pointer;
}

.card.forward {
	transform: translate3d(0, -10px, 0);
	transition: transform .2s;
}

.card .bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 90px;
	height: 126px;
	border-radius: 8px;
}

.card .text {
	font-size: 10px;
}
