.container {
	height: 100%;
	padding: 10px;
	/*font-size: .8em;*/
	color: white;
	overflow: auto;
	background-color: rgba(80, 80, 80, .2);
}

.line {
	margin: 5px 0;
}

.seperator {
	height: 1px;
	background-color: white;
}