.container {
	position: relative;
	color: white;
}

.area {
	position: relative;
	display: inline-block;
	padding: 0 5px;
	box-shadow: 0 0 20px rgba(0,0,0,.9), inset 0 0 0 1px rgba(255,255,255,0.1);
	border-radius: 5px;
	background-color: rgba(100, 100, 100, .8);
}

.area .label {
	position: absolute;
	top: 0;
	color: white;
	background-color: rgba(0, 0, 0, .6);
	z-index: 5;
}