.container {
	position: relative;
	color: white;
}

.area {
	position: relative;
	padding: 0 5px;
	box-shadow: 0 0 20px rgba(0,0,0,.9), inset 0 0 0 1px rgba(255,255,255,0.1);
	border-radius: 5px;
	background-color: rgba(100, 100, 100, .8);
}

.area .label {
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	background-color: rgba(0, 0, 0, .6);
	z-index: 5;
}

.deck-holder {
	position: absolute;
	top: 40%;
	left: 45%;
}

.deck-holder .area {
	display: inline-block;
}

.others-holder {
	position: absolute;
	top: 0;
	left: 0;
}

.me-holder {
	position: absolute;
	left: 0;
	bottom: 0;
}

.hands-holder {
	position: absolute;
	left: 45%;
	bottom: 0;
}