.container {
	position: relative;
	margin: 10px;
	padding: 0 5px;
	width: 320px;
	height: 120px;
	box-shadow: 0 0 10px rgba(0,0,0,0.9), inset 0 0 0 2px rgba(255,255,255,0.1);
	border-radius: 5px;
	background-color: rgba(80, 80, 80, .2);
}

.container.active {	
	border: 2px solid #ffa500;
}

.container.selectable {
	border: 2px solid #00ff00;
	cursor: pointer;
}

.container.selected {
	border: 2px solid #00BFFF;
}

.container.out {
	opacity: .4;
	box-shadow: none;
}

.name {
	margin-bottom: 10px;
}

.hands {
	position: absolute;
	top: 0;
}

.right {
	float: right;
}

.btn {
	position: absolute;
	right: -60px;
	bottom: 0;
	padding: 2px 15px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 10px;
	cursor: pointer;
	color: white;
	transition: background-color .3s;
}

.btn:hover {
	background-color: rgba(200,200,200, .6);
}