.container {
	position: absolute;
	top: 0;
	width: 720px;
	color: white;
	overflow: hidden;
	background-color: rgba(92, 89, 86, .8);
}

.full .intro {
	left: -360px;
}

.entrance {
	position: absolute;
	left: 360px;
	width: 720px;
	height: 100%;
	transition: left .5s
}

.entrance .left {
	float: left;
	width: 50%;
	height: 100%;
	padding: 20px;
	border-right: 1px solid white;
	overflow: auto;
}

.entrance .right {
	float: left;
	width: 50%;
	height: 100%;
	padding: 0 20px 20px 20px;
	overflow: auto;
}

.full .entrance {
	left: 0;
}

.intro {
	position: absolute;
	left: 0;
	width: 360px;
	height: 100%;
	padding: 20px;
	text-align: center;
	transition: left .5s;
}

.intro .section {
	height: 120px;
	line-height: 120px;
}

.intro .m30 {
	margin: 30px 0;
}

.intro .value {
	font-size: 2em;
	margin-right: 10px;
}

.btn {
	display: inline-block;
	padding: 5px 15px;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color .3s;
}

.btn:hover {
	background-color: rgba(173, 255, 47, .5);
}

.btn-long {
	composes: btn;
	padding: 7px 60px;
}