.container {
	position: fixed;
	top: 0;
	height: 43px;
}

.list {
	list-style: none;
	color: white;
}

.item {
	float: left;
	margin: 10px;
	padding-bottom: 5px;
}

.item.active {
	border-bottom: 2px solid white;
}

.item a {
	text-decoration: none;
}