.container {
	position: relative;
	margin: 20px 0;
	border: 2px solid white;
	border-radius: 10px;
}

.header {
	padding: 5px 15px;
	border-bottom: 1px solid white;
	background-color: rgba(92, 89, 86, .8);
}

.header.started {
	background-color: rgba(70, 130, 180, .8);
}

.body {
	padding: 5px 15px;
}

.status {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	border-radius: 50%;
	background-color: gray;
}

.status.online {
	background-color: rgb(0, 255, 0);
}

.btn-group {
	text-align: right;
}

.btn {
	display: inline-block;
	margin-left: 5px;
	padding: 0 10px;
	font-size: .8em;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color .3s;
}

.btn.green:hover {
	background-color: rgba(173, 255, 47, .5);
}

.btn.blue:hover {
	background-color: rgba(0, 191, 255, .5);
}

.btn.red:hover {
	background-color: rgba(240, 128, 128, .5);
}

.btn.orange:hover {
	background-color: rgba(255, 165, 0, .5);
}