.container {
	position: absolute;
	top: 0;
	width: 720px;
	color: #eee;
	overflow: hidden;
	background-color: rgba(92, 89, 86, .5);
}

.container:hover {
	color: white;
	background-color: rgba(92, 89, 86, .8);
	transition: color .3s;
	transition: background-color .3s;
}

.full .intro {
	left: -360px;
}

.entrance {
	position: absolute;
	left: 360px;
	width: 720px;
	height: 100%;
	padding: 20px;
	font-size: .7em;
	transition: left .5s
}

.entrance .left {
	float: left;
	width: 50%;
	height: 100%;
	border-right: 1px solid white;
}

.entrance .right {
	float: left;
	width: 50%;
	height: 100%;
}

.full .entrance {
	left: 0;
}

.intro {
	position: absolute;
	left: 0;
	width: 360px;
	height: 100%;
	padding: 20px;
	text-align: center;
	transition: left .5s;
}

.intro .section {
	margin: 80px 0;
}

.intro .section.name {
	margin: 30px 0;
}

.intro .value {
	font-size: 2em;
	margin-right: 10px;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color .3s;
}

.btn:hover {
	background-color: rgba(255, 255, 255, .5);
}

.btn-long {
	composes: btn;
	padding: 10px 60px;
}