.container {
	position: relative;
	color: white;
}

.board {
	position: absolute;
	width: 532px;
	height: 170px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

.board .bg {
	width: 532px;
	height: 170px;
}